<div class="container"> 
    
    <div class="center" >
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="username" [(ngModel)]="loginDto.username" />
            </div>
        </div>
    
        <div class="row mt-2">
            <div class="col">
                <input class="form-control" type="password" placeholder="password" [(ngModel)]="loginDto.password"/>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-warning btn-sm mt-2" style="width: 100%;" (click)="login()">{{buttonMessage}}</button>
            </div>
        </div>

        <div class="row mt-2">
            <label class="medium">Sign up</label>
            <label class="medium">Forgot password</label>
        </div>

        <div class="row mt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault" id="flexCheckLabel">
                    Admin
                </label>
            </div>
        </div>


    </div>
    
</div>