.center {
    margin: 0 auto; 
    margin-top: 15%; 
    width: 25%;
}

.medium {
    font-family: 'Montserrat';
    font-size: small;
}

#flexCheckLabel {
    font-size: 11px;
    margin-left: 5px;
    font-family: 'Montserrat';
}

#flexCheckDefault {
    margin-left: -15px;
}

input, button {
    font-family: 'Montserrat';
    font-size: 14px;
}