<div class="container"> 
    
    <div class="center" >
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="username" />
            </div>
        </div>
    
        <div class="row mt-2">
            <div class="col">
                <input class="form-control" type="password" placeholder="password" />
            </div>
        </div>

        <button type="submit" class="btn btn-warning btn-sm mt-2" style="width: 320px;">Login</button>

        <div class="row mt-2">
            <label class="medium">Sign up</label>
            <label class="medium">Forgot password</label>
        </div>
    </div>
    
</div>