
<div class="row mt-2">
    <div class='title' style="text-align: center;">{{title}}</div>
    <div class="card" style="width: 40%; margin: 0 auto; margin-top: 10px;">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="form-floating mb-2 mt-1">
                <input type="email" 
                       name="email"
                       ngModel
                       required
                       class="form-control form-control-sm input-border">
                <label class="form-label">E-mail</label>
            </div>
            <div>
                <button class="btn btn-warning btn-sm mb-3" style="width: 100%;">
                    <i class="bi bi-envelope-at"></i>
                </button>
            </div>
        </form>
    </div>
</div>

