
<div class="container">
    <div class="card" >
        <div class="card-body">
           
            <div class="card-title title">{{title}}</div>
            <div class="clientName">{{invoices[0].clientName}} - {{invoices.length}} items</div>
            <div class="row">
                <div class="col">
                    <div *ngFor="let invoice of invoices">
                        <table class="table table-borderless">
                            <tr>
                                <td style="width: 20px;">
                                    <img [src]='invoice.imageLink'>
                                </td>
                                <td style="width: 250px;">
                                    <tr><td class="item" style="width: 200px;"><strong>{{invoice.productName}}</strong></td></tr>
                                    <tr><td class="item">{{invoice.productDescription}} x {{invoice.quantity}}</td></tr>
                                    <tr><td class="item">{{invoice.price | currency: 'ZAR' : 'symbol-narrow' : '1.2-2'}}</td></tr>
                                </td>
                                <td style="float: left;">
                                    <label>
                                        <i class="bi bi-pencil-square icon-modify"></i>
                                    </label> 
                                    <label>
                                        <i class="bi bi-trash3-fill icon-delete"></i>
                                    </label> 
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col" style="border-left: 1px solid gray;">
                    <div>
                        <label>Total: {{getTotal() | currency : 'ZAR' : 'symbol-narrow' : '1.2-2'}}</label>
                    </div>
                    <div>
                        <label>Vat: {{getVat() | currency: 'ZAR' : 'symbol-narrow' : '1.2-2'}}</label>
                    </div>
                    <button class="btn btn-primary mt-3" style="width: 30%">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>