<div class="container">
    <div class="center">
        <ul>
            <li>
                <img src="assets/images/logo.png"  
                     routerLink="/home"/>
            </li>
            <li class="nav" routerLink="user-invoices">Customer invoices</li>
            <li class="nav" routerLink="catalog">View Catalog</li>
            
            <li style="float: right;" (click)="logout()">
                <i class="bi bi-box-arrow-left"></i>
            </li>

            <li class="nav" routerLink="cart" style="float: right">
                <span class="position-absolute top-0.5 start-3 translate-middle badge rounded-pill text-bg-warning">5</span>
                <i class="bi bi-cart4"></i>
            </li>
        </ul>
    </div>
</div>
