td {
    font-family: Montserrat; 
    font-weight: 100; 
    font-size: 0.8rem;
}

.td-name {
    width: 150px;
}

.td-price {
    width: 150px;
}

.td-id {
    width: 90px;
}

.td-action {
    width: 100px;
}

th {
    font-family: Montserrat; 
    font-weight: bolder; 
    font-size: 0.9rem;
}

#modify{
    color: steelblue;
}

#delete{
    color: red;
}

button {
    border-radius: 20px;
    float: right;
}

