<div class="container mt-4">
    <table class="table table-bordered  table-striped table-hover">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Qty on hand</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td class="td-name">{{product.productName}}</td>
                <td>{{product.productDescription}}</td>
                <td class="td-price">{{product.price | currency : 'ZAR' : 'symbol-narrow' : '1.2-2'}}</td>
                <td class="td-price">{{product.quantity}}</td>
                <td class="td-action">
                    <span>
                        <i id="modify" class="bi bi-pencil-square me-4" (click)="modifyProduct(product)"></i>
                    </span>
                    <span>
                        <i id="delete" class="bi bi-trash3 ms-4"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-warning" routerLink="/admin-product-create">
        <i class="bi bi-plus"></i>
    </button>
</div>