<div class="container mt-4">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title" class="lg">{{cartItem.productName}}</h5>
            <div class="card-text">
                <div>
                    <img src="{{cartItem.imageUrl}}" />
                </div>
                <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                    <div class="medium">{{cartItem.productDescription}}</div>
                    <div class="medium">Price {{cartItem.price | currency : 'ZAR' : 'symbol-narrow' : '1.2-2'}}</div>
                    <span class="medium">Quantity</span>
                    <span>
                        <input type="text" 
                               name="quantity"
                               [(ngModel)]="cartItem.quantity"
                               class="qty-location"/>
                    </span>
                    <button type="submit" class="btn btn-outline-warning btn-sm" style="float: right;">
                        <i class="bi bi-cart4"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
