<div class="container mt-4">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title" class="lg">Product title</h5>
            <div class="card-text">
                <div>
                    <img src="assets/images/products/boot-ang1.png" />
                </div>
                <div class="medium">Product Description</div>
                <div class="medium">Price</div>
                <span class="medium">Quantity</span>
                <span>
                    <input type="number" class="qty-location"/>
                </span>
            </div>
        </div>
    </div>
</div>