<div class="container">
    <div class="row mt-4">
        <div class="col-5">
            <div style="margin: auto 0;">
                <div class="mb-2">
                    <label for="productName" class="form-label">Product Name:</label>
                    <input type="text" id="productName" class="form-control form-control-sm">
                </div>
                <div class="mb-2">
                    <label for="productDesc" class="form-label">Product Description:</label>
                    <input type="text" id="productDesc" class="form-control form-control-sm">
                </div>
                <div class="mb-2">
                    <label for="productPrice" class="form-label">Price:</label>
                    <input type="text" id="productPrice" class="form-control form-control-sm">
                </div>
                <div class="mb-2">
                    <label for="qtyOnHand" class="form-label">Quantity on hand:</label>
                    <input type="text" id="qtyOnHand" class="form-control form-control-sm">
                </div>
            </div>
        </div>
    </div>
</div>
