/* You can add global styles to this file, and also import other style files */

.nav:hover {
    cursor: pointer;
    font-style: italic;
}

.cursor-pointer {
    cursor: pointer;
}

.body-font {
    font-family: 'Montserrat';
}

.input-border {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}